<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Customer Details</title>

    </head>
    <body>
        <div>Customer Content </div>
        <p th:text="'Customer Name: ' + ${customer.custName}" /><br/>
        <p th:text="'Customer Email: ' + ${customer.custEmail}" /><br/>
        <p th:text="'Customer Email ' + ${customer.custMobile}" />  <br/>
        <p th:text="'Customer Mobile ' + ${customer.custCard}" /><br/>
        <br/>

        <ul>
            <li th:each="ty : ${customer.radiobtn}">
                <span  th:text=" ${ty}" />
            </li>
        </ul>
    </body>
</html>
