<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Welcome to Dash Board</title>

</head>

<body>
    <div>Dashboard Time:
        <p th:text="${time}" />
        <table>
            <tr th:each=" : ${}" >
                <td th:text="${}"></td>
            </tr>
        </table>
    </div>
</body>

</html>