List of skills required
7 10 years of development experience.
3 5 years of technical leadership experience at a senior level.
Must Have :
6 - 8 years of Java/J2EE (JSP, Servlets), Spring on Tomcat application server
5 - 8 years using the object development methodology (object modeling and sequence diagrams)
2 3 years of experience with Docker, Rancher, Amazon Cloud
Strong in SQL/Stored Procedure
2- 3 years working experience with Git/Stash code repository
2-3 years working experience with Agile and Water fall methodologies
Working experience with CI/CD
Experience developing business applications, preferably in Finance
Structured design and testing experience required